   <div class="row justify-content-center align-items-center" style="height:calc(100vh - 103px)">
      <div class="col-md-6 col-sm-12 text-center">
         <h5>welcome</h5>
         <h1><span class="text-info ">F</span>inal <span class="text-info">A</span>cademy</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsam.</p>
      </div>
      <div class="col-md-6 col-sm-12  text-center">
         <img class="w-75 " src="assets/2876.jpg" alt="">
      </div>
   </div>
