   <div class="row justify-content-center align-items-center" style="height:calc(100vh - 103px)">
      <div class="col-md-6 col-sm-12 text-center">
         <h2>مرحبا</h2>
         <h1>فاينـــال أكاديمى</h1>
         <p class="" style="font-size: 20px;line-height: 1.5;">فاينال أكاديمي هي منصة تعليمية مبتكرة تهدف إلى توفير تجربة تعلم ممتازة عبر الإنترنت. تتميز المنصة بمجموعة واسعة من الدورات التعليمية التي تشمل مختلف المواضيع والمجالات. يتميز نهج فاينال أكاديميى  بالتركيز على جودة المحتوى التعليمي وتقديمه بشكل يجمع بين الفهم العميق والتفاعل الفعّال.</p>
      </div>
      <div class="col-md-6 col-sm-12  text-center  " >
         <img class="w-75 " src="assets/2876.jpg" alt="">
      </div>
   </div>
