<nav class=" navbar-dark bg-dark" dir="rtl" >
   <div class="container ">
      <div class="row justify-content-between">
         <div class="col-md-2 col-sm-4 col-12 text-center   ">
            <a class="navbar-brand"><img src="assets/school_white_24dp.svg" style="width: 50px;" alt="">فاينـــال</a>
         </div>

         <div class="col-sm-8 col-12  d-flex justify-content-evenly text-light align-items-center ">
            <a class="nav-item  nav-link" *ngIf="ruleIsUser == null" routerLink="/home" routerLinkActive="text-primary ">الصفحه الرئيسية</a>
            <a class="nav-item  nav-link" *ngIf="ruleIsUser?.adminRule == 'doctor'" routerLink="/new-exam" routerLinkActive="text-primary">أختبار جديد</a>
            <a class="nav-item  nav-link" *ngIf="ruleIsUser?.adminRule == 'doctor'" routerLink="/students" routerLinkActive="text-primary">الطلاب</a>
            <a class="nav-item  nav-link" *ngIf="ruleIsUser != null" routerLink="/subjects" routerLinkActive="text-primary">المواد</a>
            <a class="nav-item  nav-link" *ngIf="ruleIsUser != null" routerLink="/home"   (click)="logout()" routerLinkActive="text-primary">خروج</a>
            <a class="nav-item  nav-link" *ngIf="ruleIsUser == null"  routerLink="/login" routerLinkActive="text-primary">دخول</a>
            <a class="nav-item  nav-link" *ngIf="ruleIsUser == null" routerLink="/register" routerLinkActive="text-primary">تسجيل</a>        
            <a  class="nav-item  nav-link text-light border-1 border p-2 rounded-2 " *ngIf="ruleIsUser != null">{{ruleIsUser.name}}</a>
         </div>
      </div>
   </div>
</nav>